env/
venv/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pipenv and poetry
Pipfile.lock
poetry.lock

# virtual environments
venv/
env/
ENV/
.venv/
.python-version

# pytest
.cache/

# coverage reports
.coverage.*
*.cover
coverage.xml

# Sphinx documentation
docs/_build/

# PyInstaller
*.spec

# Cython build
cython_debug/

.env

__pycache__/
*.pyc
agents/planner/.env
agents/orchestrate/.env
agents/platform_mcp_client/.env
agents/social/.env
mcp_server/.env
web/.env
agents/.env